<div @todosAnimation>
    <h1 class="todo-title">ToDo</h1>
    <input #itemTitle class="form-control form-control-lg"
        (keyup.enter)="addItem(itemTitle)"
        placeholder="type a new task here...">
    <div *ngIf="items" class="list-group">
        <ul class="todo-list">
            <li @todoAnimation
                *ngFor="let item of items"
                class="list-group-item"
                [ngClass]="{'checked': item.isChecked}">
            <mat-checkbox color="primary"
                aria-label="Checkbox for crossout task"
                (change)="crossOut(item)"></mat-checkbox>
            {{ item.title }}
            <span class="date">{{ item.date }}</span>
            <span class="btn-remove"
                (click)="removeItem(item)"
                aria-label="delete task">
                <i class="fas fa-times"></i></span>
            </li>
        </ul>
    </div> 
    <button mat-flat-button disabled *ngIf="!isCrossedOut" class="btn-remove-all">delete all done tasks</button>
    <button mat-flat-button color="warn" *ngIf="isCrossedOut" class="btn-remove-all" (click)="deleteAllDone()">delete all done tasks</button>

</div>
    